params {
  project_folder    = "$PWD"

  idr_output        = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-idr/idr_output"
  idr_peak_pattern  = "*_idr.sorted.chr.narrowPeak"
  idr_pairs_csv     = null
  peak_consensus_output = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-peak-consensus/peak_consensus_output"
  consensus_peak_pattern = "*_consensus.bed"
  diffbind_output   = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-diffbind/diffbind_output"
  diffbind_peak_pattern = "*.bed"
  chipseeker_peak_sources = "idr,consensus,diffbind"

  gtf               = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/reference/gtf/gencode.vM34.primary_assembly.annotation.gtf"
  chipseeker_output = "chipseeker_output"

  container_chipseeker = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/chipseeker_1.0.1.sif"

  annoDb       = "org.Mm.eg.db"
  reactome_org = "mouse"
  do_enrich    = true

  tss_up       = 2000
  tss_down     = 2000
  fdr_cutoff   = 0.05
}

process {
  executor = 'slurm'
}

profiles {
  local { includeConfig 'configs/local.config' }
  hpc   { includeConfig 'configs/slurm.config' }
}
