params {
  project_folder   = "$PWD"
  diffbind_output = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-diffbind/diffbind_output"
  gtf          = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/reference/gtf/mm39.gencode.vM34.annotation.gtf"
  chipseeker_output  = "chipseeker_output"

  container_chipseeker = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/chipseeker_1.0.1.sif"

  annoDb       = "org.Mm.eg.db"
  reactome_org = "mouse"
  do_enrich    = true

  tss_up       = 2000
  tss_down     = 2000
  fdr_cutoff   = 0.05
}

process {
  executor = 'slurm'
}

profiles {
  local { includeConfig 'configs/local.config' }
  hpc   { includeConfig 'configs/slurm.config' }
}

