params {
  container_chipseeker = "shajiase/chipseeker:1.0.1"
}

process {
  executor = 'local'

  withName: chipseeker_annotate {
    cpus   = 2
    memory = '8 GB'
    time   = '4h'
    container = params.container_chipseeker
  }

  withName: chipseeker_master {
    cpus   = 1
    memory = '4 GB'
    time   = '1h'
    container = params.container_chipseeker
  }
}

docker {
  enabled = true
}
