params {
  peaks    = "peaks/*.{narrowPeak,bed}"
  genome   = "mm39"
  outdir   = "chipseeker_output"
  do_enrich = true

  container_chipseeker = "shajiase/chipseeker:1.0.1"
}

process {
  executor = 'local'

  withName: chipseeker_annotate {
    cpus   = 2
    memory = '8 GB'
    time   = '4h'
    container = params.container_chipseeker
  }
}

docker {
  enabled = true
}
