params {
  container_chipseeker = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/chipseeker_1.0.1.sif"
  queue = 'cpu_p'
  extra_mounts = "--bind /ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines"

}

process {
  executor = 'slurm'
  queue    = params.queue

  clusterOptions = '--qos=cpu_normal --nice=10000 --mail-type=END,FAIL --mail-user=shan.jiang@helmholtz-munich.de'

  withName: chipseeker_annotate {
    cpus   = 4
    memory = '64 GB'
    time   = '8h'
    container = params.container_chipseeker
  }

  withName: chipseeker_master {
    cpus   = 2
    memory = '32 GB'
    time   = '4h'
    container = params.container_chipseeker
  }
}

singularity {
  enabled    = true
  autoMounts = true
  runOptions = params.extra_mounts
}
